
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-image: url('4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
}


header {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 15px 0;
  text-align: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

header a:hover {
  color: #e0e0e0;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 30px 0 20px;
  color: #fff;
}


main {
  flex: 1;
  justify-content: center;
  padding: 20px;
}

.info-sections {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.info-sections li {
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.info-sections h2 {
  color: #f6f8f6;
  margin-bottom: 10px;
}


.info-sections p {
  font-size: 1.30rem;
  line-height: 1.4;
}

.wrapper {
  display: flex;          
  flex-direction: column; 
  min-height: 100vh;      
}

footer {
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 1.0rem;
}
